node_modules

# Mac
.DS_Store

# VSCode
settings.json

# next
.next
.env
.env.dev
.env.testing
.env.staging
.env.prod
out
dist
src/public/robots.txt

# firebase
.firebase
firebase-debug.log
credentials.json
firestore-debug.log

# functions
__test__

# public
src/public/sitemap.xml