h1 Hi
p
 |#{invitee} added you to their team on
 |
 a(href='#{appLink}', target="_blank") schemake.
p
  |Follow the link below to join them.
br
p
  a(href='#{signupLink}', target="_blank") Join #{invitee}.
br
p
  |Cheers,
p
  |Shaun